body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header, .landing, .footer {
    background-color: #1f2937;
    font-family: "Roboto";
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}